@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Strona została przygotowana przeze mnie, Jakuba Nowaczka, na potrzeby rekrutacji w firmie NetPC.</p>
    <h5>Miłego dnia!</h5>    
</div>
